<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-5">
            <h1 class="text-center display-1">Agenda</h1>
            <p class="text-center lead display-8">Seus contatos estão abaixo</p>
            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>nome</td>
                        <td>sobrenome</td>
                        <td>telefone</td>
                        <td>email</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>